.notificationsDrawer {
  position: fixed;
  padding-top: 8px;
  top: 100vh;
  height: 100vh;
  right: 0px;
  width: 350px;
  z-index: 10000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.notificationsDrawer.open {
  top: 0px;
  opacity: 1;
  overflow: hidden;
}

.notification-drawer-enter {
  transform: scale(0);
}

.notification-drawer-enter.notification-drawer-enter-active {
  transform: scale(1);
}

.notification-drawer-exit {
}

.notification-drawer-exit.notification-drawer-exit-active {
  padding: 0px;
  margin: 0px;
  min-height: 0;
  height: 0;
  transform: scale(0);
}
