.notificationsDrawer {
  position: fixed;
  padding-top: 8px;
  top: 100vh;
  height: 100vh;
  right: 0px;
  width: 350px;
  z-index: 10000;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.notificationsDrawer.open {
  top: 0px;
  opacity: 1;
  overflow: hidden;
}
