.notificationsList {
  position: fixed;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.notification-enter {
  transform: scale(0);
}

.notification-enter.notification-enter-active {
  transform: scale(1.1);
}

.notification-leave {
  transform: scale(1.1);
}

.notification-leave.notification-leave-active {
  transform: scale(0);
}
