.notificationsList {
  position: fixed;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
}

.notification-enter {
  transform: scale(0);
}

.notification-enter.notification-enter-active {
  transform: scale(1.1);
}

.notification-exit {
  transition: all 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06); // easeInQuint
  transform: translateX(0) scaleY(1) scaleX(1);
  filter: blur(0);
  opacity: 1;
}

.notification-exit.notification-exit-active {
  padding: 0px;
  margin: 0px;
  min-height: 0;
  height: 0;
  transform: translateX(1000px) scaleX(2) scaleY(0.2);
  filter: blur(40px);
  opacity: 0;
}
