.inner_panel {
  box-sizing: border-box;
  background-color: #c3b999;
  width: 100%;
  height: 100%;
  border: 2px dashed #007effad;
  text-align: center;
  line-height: 288px;
  white-space: nowrap;
}
