$primary1Color: #009688;
$canvasColor: #ffffff;
$alternateTextColor: #ffffff;
$textColor: #b8b8b8;
$timingFunction: cubic-bezier(0.23, 1, 0.32, 1);

.breadcrumbs {
  font-size: 16px;
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

  &--track {
    display: flex;
    transition: transform 450ms $timingFunction;
  }

  &--text {
    color: $textColor;
  }
}
